.App {
  min-height: 100vh;
  background: linear-gradient(to right, #333945, #2f363f);
}
.card {
  margin-top: 125px;
  background-color: #fff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
img {
  margin-top: -80px;
}
.card-header {
  background-color: #3498db;
  color: #fff;
  text-transform: capitalize;
}
.age {
  float: right;
  margin-right: 30px;
  font-size: 20px;
}

.location {
  font-size: 20px;
}
.phone {
  background-color: #30336b;
  border-color: #30336b;
  padding: 5px 25px;
  color: #fff;
}
.gender {
  float: right;
  font-size: 20px;
  margin-right: 30px;
}
.email {
  background-color: #30336b;
  border-color: #30336b;
  color: #fff;
}
.mainbtn {
  background-color: #43be31;
  color: #fff;
  padding: 5px 30px;
  border: none;
  float: right;
  margin-top: -100px;
  margin-right: 100px;
}
